@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin font-scale($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1200px;
  }
}
