.btn {
  width: 100%;
  padding: 13px;
  margin-top: 32px;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  border: none;
  background: #f13037;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}
