.container {
  padding: 26px 15px;
}

.container--grey {
  background-color: #e5e9ee;
}

.container--border {
  padding: 0;
}

.container--download {
  padding: 0;
  border-bottom: 4px solid #e9e9e9;
}

@media #{$tablet-widths} {
  .container {
    padding: 20px 0;
  }

  .container--download {
    padding: 0;
  }
}

@media #{$desktop-widths} {
  .container {
    padding: 46px 15px;
  }

  .container--download {
    padding: 0;
  }
}
