.description {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.description__left {
  width: 324px;
  padding-left: 5px;
  text-align: center;
  position: relative;
}

.description__right {
  width: 603px;
}

.description__right p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  text-align: justify;
}

.description__links {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 28px;
}

.description__link {
  padding-left: 50px;
  position: relative;
  color: #1091c7;
  margin-bottom: 15px;
}

.description__link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 5px;
  width: 31px;
  height: 32px;
  background: url("../img/icon-graph.png");
}

@media #{$tablet-widths} {
  .description {
    flex-wrap: nowrap;
  }

  .description__right p {
    font-size: 18px;
    line-height: 28px;
    margin-left: 26px;
    margin-top: 0;
    text-align: left;
  }

  .description__links {
    margin-left: 26px;
    font-size: 14px;
    line-height: 28px;
  }

  .description__link {
    padding-left: 40px;
    padding-right: 55px;
  }

  .description__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 31px;
    height: 32px;
    background: url("../img/icon-graph.png");
  }
}

@media #{$desktop-widths} {
  .description__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 31px;
    height: 32px;
    background: url("../img/icon-graph.png");
  }

  .description__link {
    padding: 0 50px;
    margin-bottom: 0;
  }

  .description__links {
    flex-wrap: nowrap;
  }
}
