.header {
  border-bottom: 4px solid #09b00a;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-block {
  background-color: #ffffff;
  width: 320px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;

  img {
    width: 100%;
  }
}

.header__blue {
  background-color: #0067c5;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.header__white {
  background-color: #ffffff;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

@media #{$tablet-widths} {
  .header {
    min-height: 78px;
  }

  .header__logo-block {
    width: 768px;
  }
}


@media #{$desktop-widths} {
  .header__logo-block {
    width: 940px;
  }
}
