.image-block {
  background-color: #ffffff;
}

.image-block img {
  display: block;
  margin: 0 auto;
}

.image-text {
  font-family: "Droid Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}

.image--big {
  width: 100%;
}

@media #{$tablet-widths} {

}
